.mybtn {
    background: none;
    border: 1px solid var(--primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-dark);
    width: 9rem;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-dark);
}

.mybtn > img {
    height: 20px;
    width: 20px;
    filter: invert(95%);
}

.mybtn:hover {
    background-color: var(--highlight);
}